<div class="fileImportPopover popover top collapseVisibility">
  <div class="popover-title">Example</div>
  <div class="arrow"></div>
  <div class="popover-content">
    Popover for Graph Node
  </div>
</div>

