<div class="org-visallo-examples-graph_export">
    <pre></pre>
    <code>workspaceId = {{ workspaceId }}</code>
    <code>productId = {{ productId}}</code>
    <button class="btn btn-primary">Export</button>
</div>