<div class="org-visallo-examples-advanced">
  <div class="query-container">
    <textarea placeholder="Query"></textarea>
  </div>
  <div class="button-container">
    <button class="btn btn-primary">Execute</button>
  </div>
</div>
